@mixin listreset {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin linkreset {
  text-decoration: none;
  color: inherit;
}

@mixin font ($size, $weight: 400, $color: black, $family: "NeueKabel") {
  font-size: $size;
  font-weight: $weight;
  color: $color;
  font-family: $family;
}

@mixin transition ($type: all, $dur: .3s, $ease: ease) {
  -webkit-transition: $type $dur $ease;
  -moz-transition: $type $dur $ease;
  -ms-transition: $type $dur $ease;
  -o-transition: $type $dur $ease;
  transition: $type $dur $ease;
}